html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#logo_img {}

#logo_text {
    display: inline-block;
    font-family: BAUHAUS;
    font-size: 6vw;
    color: #16a085;
}

#logo {
    padding: 1%;
}

#description {
    font-family: Intro;
    color: #0f594b;
    font-size: 2.5vw;
    text-align: center;
}

#start_page {
    position: absolute;
    width: 82.5vw;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#green_separator {
    margin-left: 82.5%;
    display: inline-block;
    background-color: #27ae60;
    height: 100vh;
    z-index: 100;
}
/*#up_arrow{
	
    width: 12vw;
    margin-left: 60.6vw;
	position: relative;
	bottom: 1.7vw;
    -webkit-transform: rotate(-25deg);


}*/
#description_ask {
    font-family: Roboto light;
    font-size: 2vw;
    text-align: center;
    padding-top: 2vh;
}

#description_left_arrow {}

#left_arrow {
    width: 11.35vw;
    margin-left: 26.6vw;
}



#button_or {
    display: inline-block;
    margin-left: 6.6vw;
    font-family: Roboto light;
    font-size: 2vw;
    color: #0f594b;
}

.button_font {
    font-family: Intro;
    color: #27ae60;
    font-size: 2.5vw;
}

#button_other {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 5.6vw;
}

#start_content {
margin-top: 10vh;
	
}

#right_arrow {
    width: 11.35vw;
    display: inline-block;
}

#button_cont {
    text-align: center;
}

#arrow_on_green {
    height: 6.8vw;
    width: 6.8vw;
    padding: 5px;
    margin-top: 40vh;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(../img/to_view.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#arrow_on_green:hover {
    background-image: url(../img/to_view_hover.png);
    cursor: pointer;
}

#content {
    display: inline-block;
    height: 100vh;
}

#top_line_content {
    height: 7.8vh; 
    display: block;
    
}

#bottom_line_content {
    height: 5vh;
    display: none;
    width: 95vw;
    text-align: right;
    padding-top: 1vh;
    margin-top: 4vh;
}

#category {
    display: inline-block;
    font-family: Intro;
    padding-top: 2vh;
    font-size: 4vh;
    color: #0f594b;
    
}

.merch_stroke {
    /*flex-basis: 29.3vh;*/
	height: 29.3vh;
}

#merch_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;/*
    align-items: stretch;
    align-content: stretch;*/
    height: 88vh;
    width: 100000px;
    margin-top:7.8vh;
}

#top_stroke {
    background: purple;
}

#middle_stroke {
    background: red;
}

#bottom_stroke {
    background: yellow;
}

#wrapper {
    display: flex;
}

#marquee {
    display: inline-block;
    font-size: 3vh;
    width: 90vw;
}
#marquee > span {
    color: #27ae60;
    margin-left: 20px;
}
#marquee > span:hover {
    color: #27ae60;
    cursor: pointer;
    border-bottom: 2px solid #27ae60;
}

.tovar{
    height: 29.3vh;
}
.tovar:hover{
    background: rgba(0, 0, 0, 0.51);
    
}

#category_list {
    display: inline-block;
    margin-left: 30px;
    
}

.category_tag {
    font-size: 3vh;
    font-family: roboto;
    font-weight: bold;
    color:#093b31;
    margin-left: 6vw;
    
}
.category_tag:first-child
{
    margin-left: 0;
}


.category_tag:hover
{
    cursor: pointer;
    color:#1f6255;
}



/*-----------------------------------------------------*/
.block
{
    display: inline-block;
    height: 29.3vh;
    position:relative;
    text-align:center;
    overflow: hidden;
}
.image
{
    height:inherit;
}



@keyframes show_name {
    0%	{ top: -3.5vh; display: block; visibility: visible;}
    100%	{ top: 0;display: block; visibility: visible; }
}

@keyframes show_grey_bg {
    0%	{ visibility: visible;}
    100%	{  visibility: visible; }
}

@keyframes show_descr {
    0%	{ bottom: -3.5vh; visibility: hidden;  }
    100%	{ bottom: 0; visibility: visible; }
}

.block:hover .greyBg {
    animation: show_grey_bg .175s ease-out 0s 1 normal;
    animation-fill-mode: both;  
}



.block:hover .nameBlock {
    animation: show_name .2s ease-out 0s 1 normal;
    animation-fill-mode: both;  
}

.block:hover .descrBlock {
    animation: show_descr .2s ease-out 0s 1 normal;
    animation-fill-mode: both;  
}

.nameBlock
{
    position:absolute;
    top:0;
    height: 3.5vh;
    display: block;
    visibility: hidden;
    background:rgba(10, 10, 10, 0.82);
    color:white;
    width:100%;
    font-size:3vh;
}

.descrBlock{
    position:absolute;
    display: block;
    visibility: hidden;
    background:rgba(10, 10, 10, 0.82);
    color:white;
    width:100%;
    bottom:0;
    height: 3vh;
    font-size:2.5vh;

}
.greyBg
{
    position:absolute;
    visibility: hidden;
    background:rgba(10, 10, 10, 0.2);
    color:white;
    width:100%;
    height:100%;

}
.button{
    display:none;
    width: 10vh;
    height: 2vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.button:hover{
    cursor:pointer;
    background:rgba(255, 255, 255, 0.51);
    border: 3px solid #65E06D;
}

.button1{

    width: 15vh;
    height: 15vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.button1:hover
{
    cursor:pointer;

}

.block:hover
{
    cursor:pointer;
}


#bottom_content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    width: 100vw;
    height: 4vh;
    position: absolute;
    bottom: 0;
    background: #f00;
    z-index: 20;
    
    
}

.bottom_menu_item {
   
    padding: 1.3vh;
    font-family: roboto;
}

.bottom_menu_item:last-child {
    margin-right: 5vw;
}

.bottom_menu_item:hover {
    cursor: pointer;
    background-color: #27ae60;
    color:white;
    
}

.menu_item {
    display: inline-block;
    font-family: roboto;
    font-size: 2vh;
    margin-left: 1vw;
    color: #093b31;
}

.menu_item:hover {
    cursor: pointer;
    color:#1f6255;
}

@keyframes show_menu {
    0%	{ margin-top: 4vh; }
    100%	{ margin-top: 0; }
}
@keyframes hide_menu {
    0%	{ margin-top: 0; }
    100%	{ margin-top: 4vh; }
}

.show_menu_item{
    animation: show_menu .2s ease-out 0s 1 normal;
    animation-fill-mode: both; 
}
.hide_menu_item{
    animation: hide_menu .2s ease-out 0s 1 normal;
    animation-fill-mode: both; 
}
.log_in{
	display: none;
	height: 65px;
	width: 100%;
	background-color: #27AE60;
}


.log_in input{
    margin-top: 15px;
	margin-left: 20px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	background-color: #27AE60;
	border: none;
	border-bottom: 2px solid #4A7023;
	outline: none;

}
.log_in input:focus {border-bottom: 2px solid #fff;}
.log_in input:hover {border-bottom: 2px solid #fff;}
.log_in input:hover::-webkit-input-placeholder {color: #fff;}
.log_in input:hover::-moz-placeholder {color: #fff;}
.log_in input:hover:-ms-input-placeholder {color: #fff;}
.log_in input:hover:-moz-placeholder { color: #fff;}
.log_in input::-webkit-input-placeholder {color: #4A7023;}
.log_in input::-moz-placeholder {color: #3B5323;}
.log_in input:-ms-input-placeholder {color: #3B5323;}
.log_in input:-moz-placeholder:hover { color: #3B5323;}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


.sign_in{
	float: right;
	position: relative;
	right: 1em;
	top: 1em;
   
	
    /*margin-left: 13.1vw;*/
}
.button_sign{
	  font-family: Intro;
    color: #27ae60;
    font-size: 1.9vw;
	background: none;
	border: none;
	outline: none;
	border: 2px solid #27ae60;
    padding: 1.0vh 1.5vw;
	cursor: pointer;
	
	
	
}
.button--winona {
	overflow: hidden;
	padding: 0;
	-webkit-transition: border-color 0.3s, background-color 0.3s;
	transition: border-color 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin-left: -40px;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}
.button--winona > span {
	display: block;
}
.button--winona::after,
.button--winona > span {
	padding: 6px 40px;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover {
	border-color: #fff;
	background-color: rgba(63, 81, 181, 0.1); //фон прозрачный
}
.button--winona:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
	opacity: 0;
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}

.button_h:focus {
	outline: none;
}
.button_h{
	cursor: pointer;
	left: 25px;
	border: 2px solid  #4A7023;
	font-weight:600;
	font-size: 18px;
	background: none;
	vertical-align: middle;
	z-index: 1;
	position: relative;
	color: #4A7023;
}


.to_registr a{
	float: right;
	position: relative;
	bottom: 30px;
	color: #3B5323;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	
}
.to_registr a:hover{
	color: #fff;
	text-decoration:underline;
}

.show_menu_item{
    animation: show_menu .2s ease-out 0s 1 normal;
    animation-fill-mode: both; 
}
.hide_menu_item{
    animation: hide_menu .2s ease-out 0s 1 normal;
    animation-fill-mode: both; 
}
.popupPage {
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    background: rgba(10, 10, 10, 0.82);
    z-index: 201;
}

.popupWindow {
    position: fixed;
    left: calc(50vw - 480px);
    top: calc(50vh - 260px);
    width: 960px;
    height: 510px;
    background: #fff;
    overflow: hidden;
}

.popupContent {
    width: 960px;
    height: 510px;
}

.popupContentLeft {
    position: absolute;
    left: 0;
    width: 93%;
    height: 100%;
    transition-duration: .4s;
}

.popupContentRight {
    position: absolute;
    right: 0;
    top: 0;
    width: 7%;
    height: 100%;
    border-left: 5px solid #0f594b;
    background: #0f594b;
    transition-duration: .4s;
    z-index: 100;
}

.popupImage {
    height: 50%;
    text-align: center;
    overflow: hidden;
}

.popupCommentCont {
    position: absolute;
    height: 70%;
    width: 100%;
    bottom: 0;
    overflow-y: scroll;
}

.popupComments {
    height: 2000px;
    padding-right: 15px;
    margin-top: 20px;
}

.popupCommentTemplate {
    width: 99%;
    background: white;
    padding: 10px 10px;
    vertical-align: middle;
}

.siteCont {
    min-width: 1240px;
    min-height: 530px;
}

.popupCommentForm {
    position: absolute;
    top: 0;
    /*height: 25%;*/
    width: 100%;
    padding-bottom: 17px;
    background: white;
    z-index: 130;
    /*box-shadow: 0 0 20px 0px grey;
    border-radius: 4px;*/
}

.commentArea {
    display: inline-block;
    resize: none;
    outline: none;
    width: 80%;
    height: 100px;
    padding: 5px 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #111;
    overflow: hidden; 
    margin-left: 13px;
    border-color: #0f594b;

}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}

.popupProdName {
    font-family: Roboto;
    font-size: 30px;
    color: #0f594b;
    text-align: center;
    padding: 5px 0px 5px 10px;
}

.popupProdDescrTitle {
    font-family: Roboto;
    font-size: 20px;
    color: #0f594b;
    padding: 20px 0px 5px 10px;
}

.popupOwnerName {
    text-align: left;
    display: inline-block;
    width: 40%;
    margin-top: 20px;
}

.popupOwnerDate {
    text-align: right;
    display: inline-block;
    width: 50%;
}

.popupOwnerInfo {
    width: 70%;
    padding: 0 10px;
}

.popupCommentTitle {
    padding: 10px 0px 10px 10px;
    font-family: Tahoma;
    font-size: 20px;
}

.exchange_offer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 384px;
    padding: 5px 10px;
    background: #27ae60;
    margin: auto;
    text-align: center;
    color: white;
    border: 3px solid white;
    outline: 3px solid #27ae60;
    font-size: 20px;
    font-family: Intro;
    transition-duration: .3s;
    overflow: hidden;
}

.exchange_offer:hover + .exchange_window,
.exchange_window:hover {
    animation: full .3s ease-out 0s 1 normal;
    animation-fill-mode: both;
}

.exchange_offer_title {
    visibility: hidden;
    text-align: center;
    font-family: Intro;
    color: white;
    background-color: #0f594b;
    font-family: Lucida;

}

.exchange_window:hover > .exchange_offer_title {
    animation: show_excxhange_title .4s ease-out 0s 1 normal;
    animation-fill-mode: both;
}

@keyframes show_excxhange_title {
    0% {
        position: absolute;
        top: -50px;
        z-index: 101;
        visibility: visible;
    }
    80% {
        position: absolute;
        top: -50px;
        z-index: 101;
        visibility: visible;
    }
    100% {
        position: absolute;
        padding-top: 5px;
        top: 0px;
        left:0;
        right:0;
        z-index: 101;
        visibility: visible;
    }
}

.exchange_offer_full {
    position: absolute;
    width: 920px;
    height: 470px;
    background: white;
    box-shadow: 0px 0px 0px 1600px rgba(0, 0, 0, 80);
    top: 20px;
    left: 20px;
    z-index: 100;
}

@keyframes full {
    0% {
        display: block;
        background: white;
        visibility: visible;
        width: 0;
        height: 0;
    }
    50% {
        visibility: visible;
        background: white;
    }
    100% {
        display: block;
        position: absolute;
        border: none;
        outline: none;
        width: 960px;
        height 510px;
        top: 0;
        left: 0;
        bottom: 0;
        background: white;
        font-size: 35px;
        z-index: 200;
        visibility: visible;
    }
}

.exchange_window {
    display: block;
    background: white;
    overflow: hidden;
    visibility: hidden;
}
.popupCommentIcon {
    display: inline-block;
    background-image: url(../img/maxresdefault.jpg);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.popupCommentTitleData {
    
}

.popupCommentDataCont {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.popupCommentName {
    font-size: 20px;
    font-family: Tahoma;
    
}

.popupCommnetDate {
    font-family: Tahoma;
    font-size: 13px;
    text-align: right;
}

.popupCommentTitleText {
    
    max-width: 350px;
    margin-left: 60px;
    border: 2px solid darkgreen;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
    text-indent: 15px;
}

.popupHorizSeparator {
    margin: auto;
    margin-top: 10px;
    width:100%;
    height: 1px;
    background: #ffffff;
background: -moz-linear-gradient(left, #ffffff 0%, #535957 50%, #ffffff 100%);
background: -webkit-linear-gradient(left, #ffffff 0%,#535957 50%,#ffffff 100%);
background: linear-gradient(to right, #ffffff 0%,#535957 50%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    opacity: 0.8;
}

.popupCommentHide {
    background: darkgreen;
    visibility: hidden;
}

.popupContentRight:hover
{
    
    /*animation: showRightContent .4s ease-out 0s 1 normal;
    animation-fill-mode: both;*/
    width: 50%;
    background: white;
}

.popupContentRight:hover > .popupCommentHide
{
    background: white;
    visibility: visible;
}

.popupContentRight:hover + .popupContent  .popupContentLeft
{
    width: 50%;
}

@keyframes showRightContent{
    0%{
        width:7%;
    }
    100%{
        width:50%;
    }
}

.CommnetCounter {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    color: white;
    font-size: 30px;
    font-family: Intro;
    font-weight: lighter;
    white-space: nowrap;

}

.popupInnerImage {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50%;
    width: 50%;
    background-image: url("http://velosvit.com.ua/decor/coach/1920-Wastyn-Special.jpg");
    background-size: cover;
    background-position: 50% 50%; 
    border-bottom: 5px solid #0f594b;
    transition-duration: .4s;
}

.popupImageSeparator {
    border-bottom: 5px solid #0f594b;
    width: 100%;
}


.sendCommentButton {
    display: inline-block;
    width: 7%;
    height:112px;
    background-color: #0f594b;
    background-image: url(../img/to_view.png);
    background-size: contain;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    color:white;
    /*border: 1px solid #0f594b;*/
    border-radius: 0 3px 3px 0;
    margin-left: -4px;
    /*transition-property: background;
    transition-duration: .1s;*/
    
}

.sendCommentButton:hover {
    cursor: pointer;
    background-color: #0e483d;
}


.popupDarknesImage {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.popupBlurImage {
    width: 110%;
    height: 110%;
    position: relative;
    margin: -10px;
    background-image: url("http://velosvit.com.ua/decor/coach/1920-Wastyn-Special.jpg");
    background-size: cover;
    background-position: 50% 50%;
    filter: blur(4px);
}

.exchange_pick_good {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    background-color: #fff;
}

.exchangeGoodPreview {
    height: 99%;
    width: 50%;
    display: inline-block;
    background-image: url(../img/1.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.exchangeGoodslist {
    display: inline-block;
    height: 100%;
    width: 20%;
    background-color: white;
    /*margin-left: -9px;*/
    text-align: center;
    overflow-y: scroll;
    border-right: 3px solid #0f594b;
    
}

.exchangeGoodslist::-webkit-scrollbar { 
    display: none; 
}

.exchangeGood {
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 15px;
    background-position: 50% 50%;
    background-size: cover;
    
}

.exchangeGoodArrowsCont {
    display: inline-block;
    height: 100%;
    width: 30px;
    margin-left:-8px; 
    padding: 0 0px;
    border-left: 3px solid #0f594b;
    border-right: 3px solid #0f594b;
    /*border-width: 1px;
    border-width: 100%;
    border-style: solid;
    border-image: #0f594b;*/
      /*linear-gradient(to top, #ffffff 0%,#535957 50%,#ffffff 100%) 1 90%;*/
    
}

.exchangeArrowTop {
    height: 50%;
    width: 100%;
    background-image: url(../img/next.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
    margin-top: 2px;
    
}

.exchangeArrowTop:hover {
    cursor: pointer;
}

.exchangeGood:last-child {
    margin-bottom: 15px;
}

.exchangeGood:hover {
    cursor: pointer;
}

.exchangeArrowBottom {
    height: 50%;
    width: 30px;
    background-color: #fff;
    background-image: url(../img/previous.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.exchangeArrowBottom:hover {
    cursor: pointer;
}

.exchangeArrowBottom:after {
    position: absolute;
  content: "\a0";
  display: block;
  padding: 2px 0;
  line-height: 2px;
  border-top: 2px solid rgba(0,0,0,0.5); 
    width: 29px;
}

.exchangeGoodSelect {
    outline: 4px solid #0f594b;
}

.exchangeArrowTop:active {
    box-shadow: 0 20px 20px -10px rgba(0,0,0,0.4) inset;
}

.exchangeGoodDescription {
    display: inline-block;
    font-size: 20px;
    
}

.exchangeVertSeparator {
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    height:100%;
    width: 1px;
    background: #ffffff;
background: linear-gradient(to top, #ffffff 0%,#535957 50%,#ffffff 100%);
    opacity: 0.8;
}

.exchangeVertGreenSeparator {
    height: 100%;
    width: 3px;
    background-color: #0f594b;
    display: inline-block;
}

.horizGreenSeparator {
    width: 100%;
    height: 3px;
    background-color: #0f594b;
    z-index: 400;
    position: absolute;
}



.imgAddNewGood {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #27ae60;
    border-radius: 50%;
    box-shadow: 0 3px 0 0 #1b7943;
    
}

.imgAddNewGoodPlus {
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 10px;
    color: white;
    width: 100%;
    height: 100%;
    text-shadow: 0px 3px 0 rgba(0,0,0,0.3);
        
}

.exchangeAddNewGood {
    width: 400px;
    height: 80px;
    border: 3px solid  #0f594b;
    border-radius: 10px;    
    padding-top: 10px;
    padding-left: 10px;
}

.textAddNewGood {
    display: inline-block;
    font-size: 30px;
    color: #0f594b;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    height: 100%;
    width: 300px;
    
    
}
