html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#logo_img {}

#logo_text {
    display: inline-block;
    font-family: BAUHAUS;
    font-size: 6vw;
    color: #16a085;
}

#logo {
    padding: 1%;
}

#description {
    font-family: Intro;
    color: #0f594b;
    font-size: 2.5vw;
    text-align: center;
}

#start_page {
    position: absolute;
    width: 82.5vw;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#green_separator {
    margin-left: 82.5%;
    display: inline-block;
    background-color: #27ae60;
    height: 100vh;
    z-index: 100;
}

#description_ask {
    font-family: Roboto light;
    font-size: 2vw;
    text-align: center;
    padding-top: 2vh;
}

#description_left_arrow {}

#left_arrow {
    width: 11.35vw;
    margin-left: 26.6vw;
}

#add_trade {
    display: inline-block;
    border: 5px solid #27ae60;
    padding: 2.6vh 1vw;
    /*margin-left: 13.1vw;*/
}

#button_or {
    display: inline-block;
    margin-left: 6.6vw;
    font-family: Roboto light;
    font-size: 2vw;
    color: #0f594b;
}

.button_font {
    font-family: Intro;
    color: #27ae60;
    font-size: 2.5vw;
}

#button_other {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 5.6vw;
}

#start_content {
    margin-top: 20vh;
}

#right_arrow {
    width: 11.35vw;
    display: inline-block;
}

#button_cont {
    text-align: center;
}

#arrow_on_green {
    height: 6.8vw;
    width: 6.8vw;
    padding: 5px;
    margin-top: 40vh;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(../img/to_view.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#arrow_on_green:hover {
    background-image: url(../img/to_view_hover.png);
    cursor: pointer;
}

#content {
    display: inline-block;
    height: 100vh;
}

#top_line_content {
    height: 7.8vh; 
    display: block;
    
}

#bottom_line_content {
    height: 5vh;
    display: none;
    width: 95vw;
    text-align: right;
    padding-top: 1vh;
    margin-top: 4vh;
}

#category {
    display: inline-block;
    font-family: Intro;
    padding-top: 2vh;
    font-size: 4vh;
    color: #0f594b;
    
}

.merch_stroke {
    flex-basis: 29.3vh;
}

#merch_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;/*
    align-items: stretch;
    align-content: stretch;*/
    height: 88vh;
    width: 100000px;
    margin-top:7.8vh;
}

#top_stroke {
    background: purple;
}

#middle_stroke {
    background: red;
}

#bottom_stroke {
    background: yellow;
}

#wrapper {
    display: flex;
}

#marquee {
    display: inline-block;
    font-size: 3vh;
    width: 90vw;
}
#marquee > span {
    color: #27ae60;
    margin-left: 20px;
}
#marquee > span:hover {
    color: #27ae60;
    cursor: pointer;
    border-bottom: 2px solid #27ae60;
}

.tovar{
    height: 29.3vh;
}
.tovar:hover{
    background: rgba(0, 0, 0, 0.51);
    
}

#category_list {
    display: inline-block;
    margin-left: 30px;
    
}

.category_tag {
    font-size: 3vh;
    font-family: roboto;
    font-weight: bold;
    color:#093b31;
    margin-left: 6vw;
    
}
.category_tag:first-child
{
    margin-left: 0;
}


.category_tag:hover
{
    cursor: pointer;
    color:#1f6255;
}



/*-----------------------------------------------------*/
.block
{
    display: inline-block;
    height: 29.3vh;
    position:relative;
    text-align:center;
    overflow: hidden;
}
.image
{
    height:inherit;
}



@keyframes show_name {
    0%	{ top: -3.5vh; display: block; visibility: visible;}
    100%	{ top: 0;display: block; visibility: visible; }
}

@keyframes show_grey_bg {
    0%	{ visibility: visible;}
    100%	{  visibility: visible; }
}

@keyframes show_descr {
    0%	{ bottom: -3.5vh; visibility: hidden;  }
    100%	{ bottom: 0; visibility: visible; }
}

.block:hover .greyBg {
    animation: show_grey_bg .175s ease-out 0s 1 normal;
    animation-fill-mode: both;  
}



.block:hover .nameBlock {
    animation: show_name .2s ease-out 0s 1 normal;
    animation-fill-mode: both;  
}

.block:hover .descrBlock {
    animation: show_descr .2s ease-out 0s 1 normal;
    animation-fill-mode: both;  
}

.nameBlock
{
    position:absolute;
    top:0;
    height: 3.5vh;
    display: block;
    visibility: hidden;
    background:rgba(10, 10, 10, 0.82);
    color:white;
    width:100%;
    font-size:3vh;
}

.descrBlock{
    position:absolute;
    display: block;
    visibility: hidden;
    background:rgba(10, 10, 10, 0.82);
    color:white;
    width:100%;
    bottom:0;
    height: 3vh;
    font-size:2.5vh;

}
.greyBg
{
    position:absolute;
    visibility: hidden;
    background:rgba(10, 10, 10, 0.2);
    color:white;
    width:100%;
    height:100%;

}
.button{
    display:none;
    width: 10vh;
    height: 2vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.button:hover{
    cursor:pointer;
    background:rgba(255, 255, 255, 0.51);
    border: 3px solid #65E06D;
}

.button1{

    width: 15vh;
    height: 15vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.button1:hover
{
    cursor:pointer;

}

.block:hover
{
    cursor:pointer;
}


#bottom_content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    width: 100vw;
    height: 4vh;
    position: absolute;
    bottom: 0;
    background: #f00;
    z-index: 20;
    
    
}

.bottom_menu_item {
   
    padding: 1.3vh;
    font-family: roboto;
}

.bottom_menu_item:last-child {
    margin-right: 5vw;
}

.bottom_menu_item:hover {
    cursor: pointer;
    background-color: #27ae60;
    color:white;
    
}

.menu_item {
    display: inline-block;
    font-family: roboto;
    font-size: 2vh;
    margin-left: 1vw;
    color: #093b31;
}

.menu_item:hover {
    cursor: pointer;
    color:#1f6255;
}

@keyframes show_menu {
    0%	{ margin-top: 4vh; }
    100%	{ margin-top: 0; }
}
@keyframes hide_menu {
    0%	{ margin-top: 0; }
    100%	{ margin-top: 4vh; }
}

.show_menu_item{
    animation: show_menu .2s ease-out 0s 1 normal;
    animation-fill-mode: both; 
}
.hide_menu_item{
    animation: hide_menu .2s ease-out 0s 1 normal;
    animation-fill-mode: both; 
}